@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;

    /* non drageable or selected text on page, becaouse cliking pagination select text */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.app__buttons {
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: rgb(147, 201, 66);
    cursor: pointer;
    color: white;
    padding: 0.5rem 2rem;
    letter-spacing: 1.5px;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Form styles , addForm and updateForm */
.AnimalForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.AnimalForm-dimensions {
    background-color: #FFF;
    width: 100%;
    border-radius: 20px;
    padding: 2rem;
    max-width: 550px;
    text-align: start;
}
.popup-inner em{
    color: red;
}

.AnimalForm__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AnimalForm__title button {
    cursor: pointer;
    background: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: rgb(147, 201, 66);
    border: 2px solid rgb(147, 201, 66);
}


.AnimalForm__body span {
    display: block;
    margin: 10px 0px;
    font-size: 20px;
}

.AnimalForm__body select {
    color: rgb(117, 189, 10);
    border: 1px solid rgb(209, 209, 209);
    margin-bottom: 20px;
    width: 61%;
    height: 30px;
    text-indent: 5px;
    font-size: 16px;
}

.AnimalForm__body select option {
    color: rgb(117, 189, 10);
}

.AnimalForm__body select:invalid,
.AnimalForm__body select option[value=""] {
    color: rgb(192, 190, 190);
}

.AnimalForm__body input {
    border: 1px solid rgb(209, 209, 209);
    margin-bottom: 20px;
    width: 60%;
    height: 25px;
    text-indent: 10px;
    font-size: 16px;
    color: rgb(117, 189, 10);
}

.AnimalForm__body input:focus,
.AnimalForm__body select:focus {
    outline: none;
}

.AnimalForm__body input::placeholder {
    color: rgb(184, 183, 183);
}