.AnimalTable table {
    margin: 3rem 0rem;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}

.AnimalTable th {
    padding: 20px 0px;
}

.AnimalTable td {
    padding: 20px;
    border-top: 1px solid rgb(219, 219, 219);
}

.AnimalTable td img {
    margin-left: 20px;
    cursor: pointer;
    

}