.navbar {
    display: flex;
    align-items: center;
    background-color: white;
}

.navbar__logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    cursor: pointer;
}

.navbar__logout-alert {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
}

.navbar__logout-alert img {
    margin: 0rem 1rem;
    cursor: pointer;
}